<div class="view-container row">
  <div class="col-4"><p>Filter works</p></div>
  <div class="col-8">
      <div class="row">
        <div class="col-lg-4 col-sm-6" *ngFor="let worker of workers$ | async">
          <app-info-card [cardTitle]="worker | objectKeysText:'firstName':'lastName'"
                         [cardTopImageUrl]="worker.img"
                         [cardContentTemplate]="workerCardContent"
                         [cardContentTemplateContext]="worker"
                         [subTitle]="worker.position">
          </app-info-card>
        </div>
      </div>
  </div>
</div>

<ng-template #workerCardContent let-worker >
  <div class="row" *ngIf="worker.phoneNumber">
    <div class="col-2"><fa-icon [icon]="faPhone"></fa-icon></div>
    <div class="col-10">{{worker.phoneNumber}}</div>
  </div>
  <div class="row" *ngIf="!!worker.email">
    <div class="col-2"><fa-icon [icon]="faEnvelope"></fa-icon></div>
    <div class="col-10">{{worker.email}}</div>
  </div>
</ng-template>


<ngx-spinner></ngx-spinner>
